<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.calendar.reporter"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name"
            android:icon="@drawable/reporter">
        <activity android:name="Login"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Projects"
                android:label="@string/projectList"/>
        <activity android:name=".Project"
                android:label="@string/projectCreate"/>
        <activity android:name=".Task"
                android:label="@string/taskCreate"/>
        <activity android:name=".Register"
                android:label="@string/register_form"/>
        <activity android:name=".Tasks"/>
        <activity android:name=".Tabs"
                  android:label="@string/taskList"/>
        <activity android:name=".TasksGeneral"/>
        <activity android:name=".About"
                android:label="@string/about_title"/>
    </application>
</manifest> 
